# This is Git's per-user configuration file.

[user]
    name = Klaasjan Maas
    email = klaasjan@floki.io
    username = KjMaas

# set "nvim" as default txt editor
[core]
    editor = lvim
    whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
	# excludesfile = ~/.gitignore

# set "nvim" as tool for merging
[merge]
    tool = lvim

# define command which will be used when "nvim" is set as a merge tool
[mergetool "nvim"]
    cmd = lvim -f -c \"Gvdiffsplit!\" \"$MERGED\"

# automatically launch merge tool without displaying a prompt
[mergetool]
    prompt = false
