-- base16-nvim (https://github.com/wincent/base16-nvim)
-- by Klaasjan Maas,
-- {{scheme-name}} scheme by {{scheme-author}}

-- "#{{base00-hex}}" "#{{base08-hex}}"
-- "#{{base01-hex}}" "#{{base09-hex}}"
-- "#{{base02-hex}}" "#{{base0A-hex}}"
-- "#{{base03-hex}}" "#{{base0B-hex}}"
-- "#{{base04-hex}}" "#{{base0C-hex}}"
-- "#{{base05-hex}}" "#{{base0D-hex}}"
-- "#{{base06-hex}}" "#{{base0E-hex}}"
-- "#{{base07-hex}}" "#{{base0F-hex}}"

local catpuccino_color_palette = {
	rosewater = "#F2D5CF",
	flamingo = "#EEBEBE",
	pink = "#F4B8E4",
	mauve = "#CA9EE6",
	red = "#E78284",
	maroon = "#EA999C",
	peach = "#EF9F76",
	yellow = "#E5C890",
	green = "#A6D189",
	teal = "#81C8BE",
	sky = "#99D1DB",
	sapphire = "#85C1DC",
	blue = "#8CAAEE",
	lavender = "#BABBF1",

    text = "#{{base07-hex}}",
	subtext1 = "#{{base0E-hex}}",
	subtext0 = "#{{base0F-hex}}",
	overlay2 = "#{{base07-hex}}",
	overlay1 = "#{{base06-hex}}",
	overlay0 = "#{{base05-hex}}",
	surface2 = "#{{base03-hex}}",
	surface1 = "#{{base02-hex}}",
	surface0 = "#{{base01-hex}}",

	base = "#{{base02-hex}}",
	mantle = "#{{base01-hex}}",
	crust = "#{{base00-hex}}"
}


return catpuccino_color_palette
