@import "./colors.css";

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
}

#window {
    background-color: transparent;
    color: @base03;
    border-radius: 10px;
    padding: 0 10px;
}

window#waybar {
    background-color: alpha(@base00, 0.3);
    border-bottom: @base09;
    color: @base06;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.empty {
    background-color: transparent;
    color: transparent;
}
window#waybar.solo {
    background-color: alpha(@base00, 0.2);
}

window#waybar.termite {
    background-color: @base08;
}

window#waybar.chromium {
    background-color: @base08;
    border: none;
}

#workspaces {
    background-color: transparent;
    border-radius: 10px;
    border-right: solid 5px @base0E;
    border-left: solid 5px @base0E;
    padding: 3px 0px;
    /* margin: 10px; */
}

#workspaces button {
    /* padding: 0 5px; */
    background-color: @base00;
    color: @base04;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each workspace name */
    border-left: solid 1px;
    border-right: solid 1px;
    /* border-radius: 8px; */
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    color: @base06;
    background: @base01;
    box-shadow: inset 0 -3px @base02;
}

#workspaces button.focused {
    color: @base07;
    background-color: @base02;
    box-shadow: inset 0 -3px @base06;
}

#workspaces button.focused:hover {
    color: @base01;
    background-color: @base06;
}

#workspaces button.urgent {
    color: @base07;
    background-color: @base08;
    box-shadow: inset 0 -3px @base09;
}

#mode {
    background-color: @base0E;
    border-bottom: 3px solid @base0F;
    border-radius: 10px;
    color: @base00;
}

#backlight,
#battery,
#bluetooth,
#clock,
#cpu,
#custom-media,
#disk,
#idle_inhibitor,
#language,
#memory,
#mode,
#network,
#pulseaudio,
#tray,
#temperature,
#mpd {
    background: @base01;
    padding: 0px 5px;
    color: @base06;
    border-radius: 10px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: @base01;
}

#battery {
    background-color: @base01;
}

#battery.charging, #battery.plugged {
    background-color: @base0B;
    color: @base00;
}

@keyframes blink {
    to {
        background-color: @base01;
        color: @base0F;
    }
}

#battery.critical:not(.charging) {
    background-color: @base08;
    color: @base07;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: @base08;
}

#cpu {
    background-color: @base01;
}

#memory {
    background-color: @base01;
}

#disk {
    background-color: @base01;
}

#backlight {
    background-color: @base02;
}

#network {
    background-color: @base01;
}

#network.disconnected {
    background-color: @base08;
}

#pulseaudio {
    background-color: @base01;
}

#pulseaudio.muted {
    background-color: @base00;
    color: @base08;
}

#bluetooth {
    background-color: @base01;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: @base01;
}

#temperature.critical {
    background-color: @base08;
}

#tray {
    background-color: @base00;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @base09;
}

#idle_inhibitor {
    background-color: @base01;
}

#idle_inhibitor.activated {
    background-color: @base0B;
    color: @base00;
    border-radius: 50%;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    min-width: 15px;
}

#keyboard-state {
    background: @base01;
    color: @base04;
    padding: 10px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: @base07;
}
